*{
    background-color:rgb(197, 165, 238)
;
            padding: 5px 10px;
            border-radius: 8px;
        color: #050000;
            text-decoration: none;
             
            border: 2px;
  

}

.h1{
    text-align: center;
    
    justify-content: center;
    color: rgb(243, 214, 176);
    
    
}

.h2{
    text-align: center;
    color: rgb(234, 150, 234);
     display: -ms-inline-flexbox;
}

  .button {
  
  margin-bottom: px;
    display: -ms-inline-flexbox;
    border-style: solid;
    width:80px;
    margin-inline: 15px;
    align-items: center;
    height:90px;
    cursor: pointer;
}

#grey {
  background-color: grey;
  margin-left: 80px;
  
}

#white {
  background-color: white;
  
}

#blue {
  background-color: blue;
  
  
}
#yellow {
  background-color: yellow;
  
  
}
